[2018-06-07 08:38] ryanbowden commented on #351
Ah turns out had an older version of TSLint and just needed to update the version. Thank you.

[2018-06-07 08:58] dorogoy opened #352 "Unknown option --node-ipc when starting the tslint server"
- tslint Version: 5.10.0
- typescript Version: 2.9.1
- Visual Studio Code: 1.24.0

Steps to Reproduce:

1. Just activate the linter and vscode will start showing multiple outputs about the tslint server crashing:

[code]

[2018-06-07 13:47] egamma commented on #352
@dorogoy I haven´t seen any other reports like this. On what platform does this happen? Can you enable tracing as described here https://github.com/Microsoft/vscode-tslint/blob/master/tslint/README.md#trouble-shooting

[2018-06-08 07:00] bm-stschneider opened #353 "False 'Could not find config file at ...' Message"
Issue Type: <b>Bug</b>
Although I have a "tslint.configFile" set I get an error from TSLint.

[Info  - 08:58:20] vscode-tslint: Status is OK
[Info  - 08:58:20] vscode-tslint: Cannot read tslint configuration - 'Could not find config file at: `<pwd>/tsconfig.json`'

Extension version: 1.0.30
VS Code version: Code - Insiders 1.25.0-insider (8f8ed32e737a7a906fac654fb0bd61b257b449b1, 2018-06-08T05:10:

[2018-06-08 07:03] egamma commented on #353
@bm-stschneider are you using an absolute or relative path? Does an absolute path work?

[2018-06-08 07:32] dorogoy commented on #352
Hello @egamma, this is on macOS High Sierra (10.13.4)
The only thing I can have a bit different is that I am using [nvm](https://github.com/creationix/nvm) to have different versions of node installed.
I already tried to uninstall, remove the directory and reinstall vscode-tslint with no success.
Thanks for your help!

[code]

[2018-06-08 15:52] egamma commented on #353
I cannot reproduce this I have a tslint.json in `c:\test\tslint.json  and my workspace settings are configured as below and the linting works as expected. What is different between your and this setup?

[code]

[2018-06-08 16:07] egamma commented on #353
(closed by accident)

[2018-06-09 19:36] peterremote1980 opened #354 "[tslint] ' should be " (quotemark)"
these will not stop "[tslint] ' should be " (quotemark)"

			"quotemark": [
				true,
				"single"
			]

Why?

[2018-06-10 11:03] egamma commented on #352
@dbaeumer the trace shows that vscode and tslint server are successfully talking, but after the tslint module is loaded there is an error.

[2018-06-10 11:12] egamma commented on #354
@peterremote1980 what is the problem and how can I reproduce the problem?

[2018-06-11 05:55] bm-stschneider commented on #353
Only difference I see is that I"m using macOS.
`"tslint.configFile": "/Users/stschneider/tsconfig.json",`

[2018-06-11 06:04] #353 closed

[2018-06-11 08:36] dbaeumer commented on #352
The error doesn't seem to come from the original start of the tsserver. Otherwise there wouldn't have been any communication. Does the tslint server fork any new node instance? Fork usually passes on the original command line args which would explain why `--node-ipc` is carried on. It is a valid argument to the node LSP server.

The server stop could be caused by the `spawn` bug I fixed last week.

[2018-06-11 14:55] #309 closed

[2018-06-12 07:21] dorogoy commented on #352
@dbaeumer thank you very much for your help. Could you explain what I have to do to update the LSP libraries? I am a bit lost here, sorry.

[2018-06-12 09:31] egamma commented on #352
@dorogoy I´ve just discussed it with @dbaeumer the `spawn` bug he mentioned happened on Windows but you are on OS X, so updating the libraries might no help.

Looking at the trace again, the error happens before the validation by tslint starts, this means when tslint is loaded. Do you use custom tslint rules that spawn a process? Can you reproduce the issue when you use a minimal `tslint.json` fil

[2018-06-13 06:39] dorogoy commented on #352
@egamma for a moment I tough this was the problem because I am using the `tslint.json` file from Covalent. To my eyes it is very similar to the standard one from Angular Cli:

https://github.com/Teradata/covalent/blob/develop/tslint.json

But no way, the problem still there even if I change the file with yours.
I am the only one on my team to use vscode but I can ask one of my colleagues to copy m

[2018-06-13 08:20] dorogoy commented on #352
@egamma you are right! The problem was related with my `tslint.nodePath`. It should point to the `tslint` module path but I had it pointing to the bin symbolic link ¿¿??  Everything was my fault :( Thank you so much for your time and your help 👍 I close the "non issue".

[2018-06-13 08:20] #352 closed

[2018-06-13 09:26] egamma opened #355 "No error message shown when tslint.nodePath is invalid"
see #352

[2018-06-13 15:26] kbirger opened #356 "autoFixOnSave mangling code"
- tslint Version: 5.10.0
- typescript Version: 2.6.2
-  extension Version: 1.0.30
- VS Code version: 1.24.0 Windows 10 x64
Steps to Reproduce:

1. enable semicolon, import sorting, and whitespace in tslint
2. enable editor.autoSave
3. write code, hit ctrl+s

Sporadically, this will mangle my code. Sometimes it adds several semicolons where they are not necessary. Sometimes it will add combinations

[2018-06-13 16:27] egamma commented on #356
@kbirger this has to do with overlapping fixes which are no fixed in multiple passes. when this happens next time can you please share the code that got mangled? Also when this happens can you execute undo multiple times and observe what happens. I´m interested in how many edits were involved.

[2018-06-14 14:13] egamma commented on #356
@kbirger I´ve added additional protection against concurrent edits and published a new version 1.31. Please reopen the issue when you still see the mangling.

[2018-06-14 14:13] #356 closed

[2018-06-14 14:36] kbirger commented on #356
I'll try to provide a specific example. For now, I can say that I have seen things such as ";;;;;;;;;;;;;;;;" generated, and I can actually see each individual semicolon get placed one at a time, and undoing removes them one-at-a-time as well.

[2018-06-14 14:59] egamma commented on #356
This is good info. This means that the fixes are detected as overlapping edits and they are applied in multiple passes. However, it looks like the same fix is applied multiple times, which would mean that the version of the document that tslint operates on is not up to date.

[2018-06-14 21:45] egamma commented on #356
Published 1.32 which also protects against the case that the server´s version of the document and the editor´s version are out of sync.

[2018-06-19 01:18] dannycochran opened #357 "TSLint wants to leave a semi-colon when using component generic"
- tslint Version: 1.032
- typescript Version: 2.91

Steps to Reproduce:

1.  Add semicolon true to your rules:

[code]

2. Create this JSX snippet:
[code]

[2018-06-19 07:44] egamma commented on #357
@dannycochran I don´t think this is an with the vscode-tslint extension but with tslint.

Can you reproduce this issue when you run tslint from the command line?

[2018-06-19 20:09] #343 closed

[2018-06-19 22:18] dannycochran commented on #357
Ah you're right. Weirdly, I can no longer reproduce. So, closing for now.

[2018-06-19 22:18] #357 closed

[2018-06-20 06:22] egamma commented on #349
@alextreppass This is currently not possible. It could be added, but isn´t a prioritiy.

Another option is to use https://github.com/angelozerr/tslint-language-service which is based on the same code as the vscode-tslint extension.

[2018-06-20 14:17] egamma commented on #354
@peterremote1980 cannot reproduce, pls see the screenshot below.  Please reopen the issue when you can provide more detailed steps to reproduce the problem.

![image](https://user-images.githubusercontent.com/172399/41664161-5a71170a-74a5-11e8-81cd-bf96e0597a2f.png)

[2018-06-20 14:17] #354 closed

[2018-06-20 14:18] arboleya opened #358 "TSLint `--project` option"
How do I specify the TSLint `--project` flag?
https://palantir.github.io/tslint/usage/cli/#cli-usage

Without it, some problems are not reported, even outside vscode.

But using the flag, everything behaves appropriately (outside vscode).

Thanks

[2018-06-20 14:21] egamma commented on #358
Closing as a duplicate of https://github.com/Microsoft/vscode-tslint/issues/333.

Please see the discussion here https://github.com/Microsoft/vscode-tslint/issues/70#issuecomment-298177554.

[2018-06-20 14:21] #358 closed

[2018-06-20 20:47] #316 closed

[2018-06-28 06:43] egamma commented on #356
@kbirger just checking, with the latest fixes can you confirm that the mangling issue is gone?

[2018-06-28 13:43] kbirger commented on #356
I saw the issue maybe one more time since your 1.3.2 fix, but I wasn't able to catch what caused it. I would consider it closed. Thanks very much for fixing it so quickly.

If I come across this again, I'll get a specific repro and post it.

[2018-06-29 09:19] egamma commented on #356
@kbirger thanks!

[2018-06-30 16:00] drosen0 opened #360 "autoFixOnSave doesn't apply under a certain resource-constrained condition"
- tslint Version: 5.10.0
- typescript Version: 2.8.3
- extension Version: 1.0.32
- vscode Version: 1.24.1
- macos Version: 10.13.4

Steps to Reproduce:

While the computer is CPU or I/O constrained because of running a build...
1. make a change to a large file
2. press Cmd+S
3. quickly make another change
4. press Cmd+S again

[2018-07-02 07:28] egamma commented on #360
@drosen0 when this happens can you pls open the developer console (Help>Toggle Developer Tools  and switch to the Console tab) and see whether there is a message in the console.

[2018-07-02 16:56] baguasquirrel opened #361 "editor.autoIndent setting is being ignored"
- tslint Version: 1.0.33
- typescript Version: 2.4.2

Steps to Reproduce:

1. Write some code that would be auto-indented, e.g.
[code]

2. Save the file.

[2018-07-02 18:58] egamma commented on #361
@baguasquirrel why do you think this issue is related to vscode-tslint?

[2018-07-02 20:12] drosen0 commented on #360
@egamma,
Yes, I'm getting this message in the devtool console:

[code]

Looks like it might be caused by an extension I have installed?

[2018-07-03 06:14] egamma commented on #360
The exception is from the https://marketplace.visualstudio.com/items?itemName=Orta.vscode-jest extension and I suggest you report the exception against this extension´s repository.

The relevant message for this issue is this one

This means autofix on save is skipped as well. Code that runs on the willSave event blocks the event loop. To protect VS Code from bad behaving extensions that execute t

[2018-07-03 06:14] #360 closed

[2018-07-03 19:18] ecraig12345 opened #362 "Feature request: Disable autoFixOnSave only for certain rules"
It would be nice if the extension had an option to disable `autoFixOnSave` only for certain rules. Prime example is the `semicolon` rule, which tends to insert rogue semicolons in files with syntax errors (as described in #163 ). This can be an issue even without any auto-save options enabled--sometimes I reflexively save before noticing that I have a syntax error.

(Sorry to omit the version info

[2018-07-04 06:53] egamma commented on #362
@ecraig12345 it is already supported that you can define for which rules you want to run auto fix on save:
https://github.com/Microsoft/vscode-tslint/blob/master/tslint/README.md#configuration-options:
tslint.autoFixOnSave - turns auto fix on save on or off, or defines an array of rules (e.g. [no-var-keyword]) to auto fix on save.

[2018-07-04 07:55] ecraig12345 commented on #362
@egamma How do you use that setting to turn individual rules **off**? The sentence you pasted from the documentation implies that you can only use it to turn **on** fixing individual rules (setting `"tslint.autoFixOnSave": ["semicolon"]` seemed to enable not disable the rule).

[2018-07-05 07:57] egamma commented on #362
@ecraig12345 sorry for not being clear. To selectively enable/disable an autofix you have to enumerate all the autofixes that you want to apply automatically. An opt-in model is the appropriate model to me since you do not want to be surprised by an autofix.

[2018-07-05 12:35] ecraig12345 commented on #362
@egamma My feature request is to add an opt-out model (in addition to opt-in). I think this makes more sense in large shared projects. Suppose the project has a lot of rules configured: most inherited from some other shared TSLint rules project, plus a few overrides. In that case, most users won't even know the entire list of rules that are enabled (much less whether those rules are auto-fixable).

[2018-07-05 13:18] egamma commented on #362
Feature requests is confirmed.

[2018-07-05 18:22] xsrvmy opened #363 "Settings to fix only some problems on save"
Right now, the only options for fix and save is to fix all rules. However, this breaks incomplete code containing 'let' declarations if the statements that change the variable have not been written yet or is commented out. It would be nice to have an option to choose which problems to fix and which problems not to fix.

[2018-07-05 18:23] #363 closed

[2018-07-05 18:23] xsrvmy commented on #363
Oops. Somehow I didn't realize I duplicated the first issue.

[2018-07-06 06:10] drosen0 commented on #360
Thank you! I'll try experimenting with the timeout and will submit an issue with https://github.com/jest-community/vscode-jest based on my findings.

[2018-07-09 14:48] hkjeffchan opened #364 "tslint show error on @types file"
- tslint Version: 5.10.0 (install globally or locally, tried both)
- typescript Version: 2.9.2 (install globally or locally, tried both)

"tslint.ignoreDefinitionFiles": true

Steps to Reproduce:

1. Command Click the related funciton to open the definition file
2. Tslint will report error on "PROBLEMS" panel

[2018-07-09 14:53] hkjeffchan commented on #364
Extensions Version:
  Angular-BeastCode v6.0.21
  angular2-inline v0.0.17
  angular2-switcher v0.1.9
  beautify v1.3.2
  bracket-pair-colorizer v1.0.59
  code-settings-sync v2.9.2
  debugger-for-chrome v4.7.0
  dotenv v1.0.1
  gc-excelviewer v2.1.24
  git-project-manager v1.6.1
  githistory v0.4.1
  github-3 v1.1.1
  github-plus-theme v1.1.3
  gitignore v1.0.1
  gitlens v8.4.1
  graphql-for-vscode

[2018-07-09 15:54] egamma commented on #364
@hkjeffchan both TypeScript and TS Lint can report errors for this file. A screenshot of the Problems View would make this clear.

Errors from tslint have the error message prefix `[tslint]` errors from Typescript have the error message prefix `[ts]`.

[2018-07-09 19:00] #361 closed

[2018-07-10 08:45] egamma commented on #364
I can reproduce the behavior that TypeScript validates excluded files when opened in the VS Code editor. I suggest to file an issue in the vscode repository to discuss this issue.

Yes, this is the current behavior of tslint, the tslint options are configured in 'tslint.json'.

I´m closing the issue, since it isn´t an issue in vscode-tslint.

[2018-07-10 08:45] #364 closed

[2018-07-14 10:59] OliverJAsh commented on #277
IIUC, dtslint is just a custom configuration for tslint, with some custom rules enabled.

[2018-07-15 11:20] JStiller opened #365 "jsdoc optional complex object"
Issue Type: <b>Bug</b>

I got an optional complex object as parameter in a function in javascript. Mostly due to convenience to deliver settings. How ever.. In the screenshot below you see that in the delivered complex object an key value pair is missing. So i received an hint, that there is an key value pair missing. This behaviour is correct. Because there is something missing.

![pic1](https://

[2018-07-16 08:12] egamma commented on #277
This is also my understanding it is basically a wrapper of the [tslint API call](https://github.com/Microsoft/dtslint/blob/b26137f0e95a54fd19c91968ee73f98255391686/src/lint.ts#L13). So what would be needed is that vscode-tslint somehow invokes the wrappered version of dtslint instead of the vanilla tslint. The best option would be to have dtslint as a config option in tslint that then vscode-tslin

[2018-07-16 13:58] sandy081 opened #366 "Provide diagnostics information in quick fixes"
A light bulb will be shown in Problems view if there are quick fixes available for a problem.

![image](https://user-images.githubusercontent.com/10746682/42762255-1ed868ae-8910-11e8-8228-71af43d203a6.png)

For performance reasons, quick fixes check is done by

- Getting the quick fixes for the complete file
- Check if there is a quick fix for the given diagnostic

So, it is necessary that the ext

[2018-07-17 02:53] muyu66 opened #367 "[Question] Identifier 'id' is never reassigned; use 'const' instead of 'let'. (prefer-const)"
- tslint Version: 1.0.33
- Npm tslint Version: 5.3.2
- typescript Version: 2.9.2

Example code:

[code]

Then, tslint warn me, "Identifier 'id' is never reassigned; use 'const' instead of 'let'. (prefer-const)".

I am confused. I can't change ''let' to ''const' because i want to reassign ''name'. Repeatedly reading User() with two lines of code, I think it is not advisable, if even User() is Promi

[2018-07-17 07:57] egamma commented on #367
@muyu66 this looks like a question for tslint and not the extension that integrates tslint into VS Code.

[2018-07-17 07:57] #367 closed

[2018-07-17 12:56] #366 closed

[2018-07-18 20:24] Kizmar opened #368 "Ignoring tslint:disable-next-line ?"
I started a Stack Overflow post and realized maybe I need to create an issue here.

SO post: https://stackoverflow.com/questions/51409931/react-typescript-and-a-setstate-name-value-error

I tried adding `// tslint:disable-next-line` above a line that was throwing a tslint error, but it's not ignoring the error, and there's no lightbulb that shows up on the left.

![capture](https://user-images.git

[2018-07-18 20:32] Kizmar commented on #368
Using `// @ts-ignore` instead, that works.

[2018-07-18 20:32] #368 closed

[2018-07-19 06:59] egamma commented on #368
@Kizmar I agree it is confusing. You can determine whether an error is from TypeScript or tslint by looking at the prefix of the error. When it is [ts] then the error is from TypeScript and you need to use @ts-ignore, when it is [tslint] then the error is from tslint and you need to use //tslint:rule.

I´ll add this to the FAQ

[2018-07-20 12:27] thepian opened #369 "Autofix running wild?"
- tslint Version: 5.11.0
- typescript Version: 2.9.2

I quite often have automatic changes to imports. This happens without user interaction beyond saving other files.

`import {Logger} from "../../ui";` becomes `import {Logger} from ".."`
`import {} from "@types/googlemaps";` becomes `import "googlemaps"`

Sometimes it affects 100 files, making it super tedious to fix. I can't say what does it. C

[2018-07-20 13:23] egamma commented on #369
@thepian how do you run the autofix? From the command line or do you have autofixOnSave enabled inside VS Code?

Can you reproduce when you run autofix only from the command line?

Since the autofixed text is not scrambled it looks like this is the result from autofixes applied by tslint.

Notice that in vscode-tslint you can selectively state which tslint diagnostics you want to have autofixed. S

[2018-07-20 14:57] egamma commented on #369
@thepian if the changes happen as part of auto import then it isn´t autofix by tslint but auto import by typescript.
For example, it could be this issue https://github.com/Microsoft/TypeScript/issues/23230

[2018-07-20 14:59] thepian commented on #369
Sounds likely to be typescript bug. I don't have auto fix enabled on save.

Thanks for the suggestion

[2018-07-20 14:59] #369 closed

[2018-07-21 00:18] gernotpokorny opened #370 "How to set TSLint Extension output format to verbose?"
- tslint Version:
5.11.0

- typescript Version:
Version 2.9.2

How to set the output format in Problems in Visual Studio and in the hover-popups to verbose?

[2018-07-21 01:19] gernotpokorny commented on #370
sry it solved itself. I guess I needed a reload or so.

[2018-07-21 01:19] #370 closed

[2018-07-23 02:25] simkessy opened #371 "Show error in editor gutter instead of only in Problems window?"
I don't always have my problems window, if there's a lint error, can the line be highlighted somehow? Either the line of red circle beside the line number? I think that's more useful.

[2018-07-25 06:26] pp611 opened #372 "TSLint Error on JS file with tslint.jsEnable set to false,"
- VSCode Version: 1.25.1
- tslint Version: 5.11
- TSLint for Visual Studio Code: 1.0.34
- typescript Version: no `.ts` file, only `.js` files

Steps to Reproduce:
1. Clone https://github.com/marktext/marktext
2. open `src/main/menus/index.js` file

There are three `[ts]` lint errors.

The default workspace setteings have
[code]

Custom workspace settings have:
[code]

The status bar only shows ESL

[2018-07-25 07:15] egamma commented on #372
Diagnostices with the prefix `[ts]` come from TypeScript and not tslint. Diagnostics from tslint are prefixed with `[tslint]`.

You can disable JavaScript validation using the the setting `javascript.validate.enable`.

[2018-07-25 07:15] #372 closed

[2018-07-25 16:30] pp611 commented on #372
Thanks much for the quick reply. That does it.

[2018-08-03 16:14] dagda1 opened #373 "tslint.configFile in a multiworkspace root"
- tslint Version:5.11.0
- typescript Version: 2.9.1

I have a vscode multi workspace root where a relative path does not make sense as projects are at different levels.

I have tried this:

`"${workspaceRoot}/common/frontend-common/tslint.yaml",`

But it does not pick up the macro.

I can use an absolute path but it would be great if I could just reference the workspace root.

[2018-08-07 22:22] Tiberriver256 opened #374 "Still seeing bug #153"
Using this with an Ionic 3 project. Here's my dependencies. Great project by the way.

[code]

[2018-08-08 22:02] jhaenchen opened #375 "vscode-tslint lints vscode temporary files in problems view"
- tslint Version: 1.0.34
- typescript Version: 3.0.1

Steps to Reproduce:
I seriously have no idea how this is happening, the files are waaaaay outside the project root.
![image](https://user-images.githubusercontent.com/7771519/43866818-bfdd9fd4-9b2c-11e8-93cf-eca547509ceb.png)

1.?????
2.?????
3.Profit

[2018-08-13 07:40] egamma commented on #375
@jhaenchen from the screenshot it is not clear if these diagnostics are from tslint.
Can please add a screenshot where you expand the nodes so that the full diagnostics becomes visible.

[2018-08-13 07:54] egamma commented on #374
@Tiberriver256 can you please confirm that you can reproduce the problem following the steps given in this comment https://github.com/Microsoft/vscode-tslint/issues/153#issuecomment-267261731

[2018-08-13 08:30] egamma commented on #373
@dagda1 can you please provide some more background:
- for what setting would like to refer to the workspaceRoot
- in what configuration files would you like to do so.

[2018-08-13 11:07] dagda1 commented on #373
@egamma so I have a yarn workspaces project which is a monorepo I have one tslint.yml for all my disparate projects that are at different levels off the root.

I have it in the root of my workspace.

[2018-08-13 13:13] egamma commented on #373
@dagda1 still not clear, sorry

In the description you write:

Where did you try this, in what file? Was this in the vscode settings file, that is, you tried to set the `tslint.configFile: "${workspaceRoot}/common/frontend-common/tslint.yaml"`?

Since you have the config file in the root of your workspace and you have a mono repo, then tslint should find the config file without any configuration s

[2018-08-13 13:47] dagda1 commented on #373
oh sorry it is not in the root, my apologies, it is in a repo which has java etc.so it is not in the root. That file path is correct

[2018-08-13 23:20] garthk opened #376 "TS Lint Server crashes when tslint.nodePath does not exist"
- tslint Version: 5.10.0
- typescript Version: 2.9.1
- tslint extension 1.0.34

Steps to Reproduce:

0. `npm install` to get your dev-dependency on `tslint`
0. Set `tslint.nodePath` to `"${workspaceFolder}/node_modules"` in your workspace settings
0. **Re-launch VS Code 1.26.0 after update**
0. Navigate to some TypeScript
0. Observe error notification:

0. ⌘⇧P `TSLint: Show output`
0. Observe:

[2018-08-14 09:29] egamma commented on #376
With 1.26 there comes a new electron version with a new node version and vscode-tslint is using the same node version as vscode.

However, I´m not able to reproduce this on windows. This is the setup I´ve used

- create an empty folder
- npm install tslint typescript
- setup tslint.json and define `tslint.nodePath` as shown in the screenshot below

![image](https://user-images.githubusercontent.co

[2018-08-14 10:07] egamma commented on #373
Then this looks like feature request https://github.com/Microsoft/vscode/issues/3759 in vscode.

Closing as upstream.

[2018-08-14 10:07] #373 closed

[2018-08-14 10:13] egamma commented on #371
Errors and warnings are currently shown by:
- a decoration in the explorer
- a squiggle below the line with the warning
- a marker in the overview ruler on the right

Given these indications you do not need to have the problems view open.

![image](https://user-images.githubusercontent.com/172399/44085985-6fd2b0d6-9fbb-11e8-9838-83e670607a68.png)

[2018-08-14 17:35] victorasantos10 opened #377 "Problems tab showing inconsistent number of rules, empty rules and rules that has been already resolved."
- tslint Version: 5.9.1
- typescript Version: 2.7.2
- VSCode version: 1.26.0-insider

![image](https://user-images.githubusercontent.com/8058097/44107802-e751f744-9fce-11e8-8183-134406f11928.png).

Also, the rules aren't related to the opened file. and when I click any of them, nothing happens

I've tried to restart VSCode several times, and it remains happening.

[2018-08-15 07:42] egamma commented on #377
@victorasantos10 please provide more information about your project setup. What is your linter setup? Do you use tasks with problem matchers to create warnings? Are you sure your TS version is 2.9 and not 3.0 (3.0 is the default in VS Code insiders).

Is there a way I can reproduce what you are observing.

What is confusing in the screenshot is that errors are prefixed with [ts], which indicates t

[2018-08-15 12:42] n3dst4 commented on #377
I am having this too. I don't _think_ my setup is particularly unusual. I have `tslint@5.11.0`  and `typescript@2.9.2` installed in the project. Whether I pick VSCode's built-in typescript@3.0.1 or the project one, my "Problems" tab contains weird irrelevant reports that don't correspond to anything **but only if there are any linting errors in any open files**. In other words, if there are no rea

[2018-08-15 15:53] sandy081 commented on #377
Related to https://github.com/Microsoft/vscode/issues/56317

[2018-08-15 17:51] timothyallan commented on #376
I'm getting this as well after updating to 1.26. On any project, even brand new ones.

Only tslint / typescript installed:

![screen shot 2018-08-15 at 11 50 52 am](https://user-images.githubusercontent.com/1995135/44163783-8a850980-a081-11e8-9d39-973c5b18e4eb.png)

MacOS 10.13.5
VSCode 1.26
TSLint 1.0.34

[code]

[2018-08-15 17:56] sandy081 commented on #377
Duplicate of https://github.com/Microsoft/vscode/issues/56371

[2018-08-16 07:02] egamma commented on #376
@timothyallan can you please run this with verbose tracing enabled and add the trace. To enable more tracing add the setting "tslint.trace.server" with a value of "verbose".

I also look into whether I can repro this on a OS X.

[2018-08-16 07:03] egamma commented on #377
Closing this one in favor of the duplicate in VS Code.

[2018-08-16 07:03] #377 closed

[2018-08-16 13:39] egamma commented on #376
Update: I can reproduce the problem on OS X when the tslint.nodePath is not correct.

[2018-08-16 15:14] egamma commented on #376
published fix in 1.0.35

[2018-08-16 15:14] #376 closed

[2018-08-16 15:15] egamma commented on #355
Fixed as part of the fix for #376

[2018-08-16 15:15] #355 closed

[2018-08-18 06:36] jasonswearingen commented on #337
fyi the ```"owner": "tslint-task"``` fix worked for me on VSCode July 2018  using TS3.0.1

**For those who "just want the solution"**,  Here is my tasks.json

[code]
using the above task lets you apply a keyboard shortcut to run it (as your "test" task)

also i have  **typescript 3.0.1** and **tslint** installed locally using **npm --save-dev**

[2018-08-18 11:54] egamma opened #379 "Unhandled Promise Reject warning when typescript module is not installed"

[2018-08-18 11:54] egamma commented on #379
Fixed by catching exception thrown by require.

[2018-08-18 11:54] #379 closed

[2018-08-20 08:01] #374 closed

[2018-08-20 08:01] #375 closed

[2018-08-20 19:24] jhaenchen opened #380 "vscode-tslint lints vscode temporary files in problems view"
- tslint Version: 1.0.34
- typescript Version: 3.0.1

Steps to Reproduce:
I seriously have no idea how this is happening, the files are waaaaay outside the project root.
![image](https://user-images.githubusercontent.com/7771519/43866818-bfdd9fd4-9b2c-11e8-93cf-eca547509ceb.png)

1.?????
2.?????
3.Profit

-------

I was asked to provide more info:

Here is a screenshot of the expanded problems nod

[2018-08-21 06:41] egamma commented on #380
@jhaenchen thanks for following up.

Actually the error messages are not from tslint but from typescript. Tslint error messages have the prefix `tslint` and typescript ones `ts`.

So I suspect this has to do with your typescript configuration in your `tsconfig.json` file.

I´m closing the issue since it is not tslint specific but CCing @mjbvz whether he has seen such issues in TypeScript.

[2018-08-21 06:41] #380 closed

[2018-08-21 14:21] Kirill486 opened #381 "VS code. The "Fix all autofixable" option behave unexpectidly"
- tslint Version:5.9.1
- typescript Version:3.0.1 (just updated from later one, have no idea how to find out which one exactly)

Steps to Reproduce:

1. Open .tsx or .ts file
2. Point cursor to highlited violated rule
3. Press the bulb button (context menu should appear)

Sometimes option  "Fix all auto-fixable" do not show up and even if it does it does nothing (do not fix broken rules at all).
O

[2018-08-22 07:49] egamma commented on #381
I suspect this is caused by overlapping changes. When the changes overlap then fix all currently cannot apply them.

When this happens can you check whether there are overlapping rule failures.

[2018-08-22 07:57] Kirill486 commented on #381
Yes, I can. Is there a guide somewhere about how to check are there any overlapping rule?

[2018-08-22 08:08] egamma commented on #381
When you hover over the squiggles do you see more than one rule failure. In the example below the range `isEqual` is covering two rule failures.

![image](https://user-images.githubusercontent.com/172399/44451187-4a7ad500-a5f3-11e8-9044-466156525b85.png)

[2018-08-24 08:11] egamma commented on #381
Actually the limitation shows up when the fix ranges overlap not the diagnostic ranges, something you cannot see in the UI. Fix all only applies fix ranges that do not overlap.

Can you test that when this happens and you execute 'fix all' multiple times that then the fixes are applied.

[2018-08-24 09:42] jpike88 opened #382 "Fix all auto-fixable problems not fixing all problems (must be applied multiple times)"
- tslint Version: 1.0.36
- typescript Version: 2.9.2

Steps to Reproduce:

1. see video
http://streaka.testing.videos.s3.amazonaws.com/screencast_2018-08-24_16-41-59.mp4

Sometimes, it fixes one issue. Sometimes like 10. But it doesn't fix them all.

[2018-08-24 09:47] egamma commented on #382
@jpike88 the current implementation of 'fix all auto fixable problems' has the limitation that in one pass only non-overlapping fixes are applied. Can you confirm that when you apply fix all multiple times that eventually all the fixes are applied?

[2018-08-24 10:08] jpike88 commented on #382
Correct eventually it gets them all done

[2018-08-24 10:13] egamma commented on #381
Suspect this is the same issue as #382

[2018-08-24 15:27] lslocum opened #383 "The tslint server crashed 5 times in the last 3 minutes. The server will not be restarted."
- tslint Version: 1.0.36
- typescript Version: 2.6.2
- VS Code Version: 1.26.1
  Commit: 493869ee8e8a846b0855873886fc79d480d342de
  Date: 2018-08-16T18:38:57.434Z
  Electron: 2.0.5
  Chrome: 61.0.3163.100
  Node.js: 8.9.3
  V8: 6.1.534.41
  Architecture: x64

Steps to Reproduce:
1. Open VS Code and wait 15 seconds. The error message above it displayed. The following is in output window:

[Info  -

[2018-08-24 17:46] jhaenchen commented on #380
On further examination I think my bug is caused by https://github.com/eamodio/vscode-gitlens/issues/430

[2018-08-27 07:06] egamma commented on #382
Fix is in 1.0.37.

[2018-08-27 07:06] #382 closed

[2018-08-27 07:11] egamma commented on #383
@lslocum I haven´t received other reports like this almost looks like a corrupt extension. Can you move .vscode\extensions\eg2.tslint somewhere else so that you do not loose and then you re-install tslint.

[2018-08-27 07:13] egamma commented on #381
In the latest version 1.0.37 vscode-tslint handles overlapping fixes. Can you pls keep an eye on whether this also addresses your problem.

[2018-08-27 12:35] TestUser013 opened #384 "Failed to load the TSLint library for the document, when tslint is installed globally"
- tslint version: 5.11.0 (tslint -v) (global installation)
- typescript version: 2.9.2 (tsc -v) (global installation)
- npm version: 5.6.0 (npm -v)
- nodejs version: 8.11.4 (node -v)
- vscode version: 1.26.1 portable (with "data" folder)

I got an error in output of TSLint extension.

I don't have any error when I ran tslint from VSCode terminal or from windows terminal. How can I check what is th

[2018-08-27 12:50] egamma commented on #384
@TestUser013 some more questions:

- what version of vscode-tslint do you have installed. You can see the version in the Extension Viewlet.
- can you share more information about your setup. Do you have tslint installed locally or globally? Do you have TS installed locally or globally?
- Since this looks like a test setup, can you share the test setup with me, e.g., check it into a github repo?

[2018-08-27 14:37] egamma commented on #384
I can reproduce the problem. It was a bug introduced in the last refactoring.

Fixed in 1.0.38, that I´ve just published.

[2018-08-27 14:37] #384 closed

[2018-08-27 14:52] lslocum commented on #383
I updated to version 1.0.38 this morning and it is working again. Thank you.

[2018-08-27 14:54] egamma commented on #383
So I suspect the previews version was corrupted somehow.

[2018-08-27 15:06] Kirill486 commented on #381
Yes, it does fix it. Thank you.

[2018-08-28 06:56] egamma commented on #381
closing, thanks for verifying.

[2018-08-28 06:56] #381 closed

[2018-08-28 06:57] #383 closed

[2018-08-28 06:59] egamma commented on #371
This would have to be addressed in VS Code. The feature request exists. Closing as an upstream feature request.

[2018-08-28 06:59] #371 closed

[2018-08-28 07:00] #344 closed

[2018-08-28 07:17] egamma commented on #288
@weeco
The command `fix all auto fixable` is always available in the context menu in the `Source Actions...` menu, it is also available in the command palette.

However, your recording shows that the `disable maxline length` rule is duplicated and this is a bug.
Can you still reproduce this? If yes, can you please share a repro?

I´ve tried to reproduce it but I failed.

![image](https://user-imag

[2018-09-05 17:39] jeudesprits opened #385 "How disable type checking warnings?"
- tslint Version:  5.11.0
- tslint extension Version: 1.0.38
- typescript Version: 3.0.3

Good day! I use _tslint-microsoft-contrib_ and _tslint-config-prettier_  rules. I also know that part of the _tslint-microsoft-contrib_ rules need type checking. The question is how to disable warnings in the output console in _vscode_, if these rules only work when manually starting tslint.

[2018-09-06 15:37] egamma commented on #385
You cannot disable the warnings, but the good news is that we are working on an implementation of vscode-tslint that uses TypeScript Server plugins and this implementation will support type checking.

I´m closing this issue, since there are no plans to support this with the current implementation.

[2018-09-06 15:37] #385 closed

[2018-09-07 14:38] alexpov opened #386 "very slow responce time, it takes 10-20 seconds after change is made in .ts file for the tslint extension to show updated warnings/error"
sometime even much more :( Using VSCode on **Windows**

- vscode: 1.27.1
- tslint Version: 1.0.38
- typescript Version: 2.8.3

[code]

[code]
Steps to Reproduce:
default config, no special steps ...

[2018-09-07 15:01] egamma commented on #386
Haven´t seen this issue since a long time.

Pls enable more tracing output by adding the setting "tslint.trace.server" with a value of "verbose" or "messages" and attach a trace when this happens.

[2018-09-08 17:09] HaaLeo opened #387 "Infinite loop when auto fixing does not converge"
- tslint Version: 5.11.0
- typescript Version: 3.0.3
- vscode-tslint Version: 1.0.38

# Description
Running the _Fix all auto-fixable problems_ command with the following setup causes an infinite loop.

## Example
![endless_loop_bug](https://user-images.githubusercontent.com/23164374/45256543-0b40d800-b398-11e8-87a1-2c404ecfbd4b.gif)

# Steps to Reproduce:

1. Create the `tslint.json` containing:

[2018-09-12 11:44] egamma commented on #387
Fixed published in 1.0.39.

[2018-09-12 11:44] #387 closed

[2018-09-13 11:10] cevek opened #388 "Problem matcher doesn't work properly with absolute/relative paths"
- tslint Version:5.11.0
- typescript Version: 3.0

Steps to Reproduce:

task
[code]

![afaf](https://user-images.githubusercontent.com/3171573/45484914-7145aa80-b75e-11e8-9651-caa9c31f76bf.png)

[2018-09-14 21:35] alexpov commented on #386
[tslint.txt](https://github.com/Microsoft/vscode-tslint/files/2384969/tslint.txt)
@egamma tried, didn't help, attached logs

[2018-09-17 18:53] AsiFefer opened #389 "Feature Request: Integrate circular dependency checker into vscode-tslint"
- tslint Version: latest
- typescript Version: 3.0.3

Hello,

Typescript linter should have circular dependency check task. In case linter found any circular dependency, between 2 modules, then it should display a warning about it, In VS code Terminal window.

For example, let's assume that module A uses Module B which in turn uses Module A again. In that case the following warning should be displ

[2018-09-17 19:03] egamma commented on #389
@AsiFefer this would have to be implemented by a tslint rule and not by the vscode-tslint extension. Therefore, this feature request should be filed against the tslint repository.

[2018-09-17 19:03] #389 closed

[2018-09-17 19:19] AsiFefer commented on #389
I will make a request against tslint repository. Thanks.

[2018-09-17 19:27] egamma commented on #386
There is an interesting segment in the trace:

[code]
It takes over a minute until the validation starts after the trigger. I do not have an explanation for this yet. Can you reproduce this slowness with this document? Anything special about this file?

[2018-09-18 13:00] Neutrino-Sunset opened #390 "No option to disable rule in VsCode"
- tslint Version: 1.0.39
- typescript Version: 3.0.3

Steps to Reproduce:

1. Create a Typescript project with a tslint.json
1. Enter code containing a lint error, e.g. no-trailing-whitespace.
1. Press CTRL+. to bring up the quick fix popup.
1. Popup has an entry 'Disable rule for this line' but no option to just disable the rule.

[2018-09-19 07:35] webberwang opened #391 "File explorer's error indicators only show for files that have been opened"
- tslint Version: 5.11.0
- typescript Version: 3.0.3

The file explorer's emphasized status indicator (red circle) only shows up when a file has been opened. While I can still use the "Problems" tab to view all TSLint errors, it would be nice to have a visual overview of ALL the TSLint errors (not just files that have been opened).

![tasks_json_ _ui-builder](https://user-images.githubusercontent.

[2018-09-19 09:30] egamma commented on #391
The current implementation only shows decoration for an open document and not for the entire project.
Changed the title and labelled as feature request.

[2018-09-21 09:12] ryansmith94 opened #392 "feat: Add rationale to tooltip."
I think it would be useful for people to see the rationale for the rules in the tooltip for warnings/errors.

For example, currently the tooltip displays the following.
[code]

I think it would be useful to display the rationale as shown below to help people understand why the rule exists.
[code]

There may be better ways to display this information to avoid having tooltips that are too large.

[2018-09-21 12:55] egamma commented on #392
This is a good idea. The rational of a rule is in the tslint documentation and what we could do is to provide an action in the Problems view that allows you to open the documentation for a rule.

Actually, there already is an action in the light bulb menu to open the documentation
![image](https://user-images.githubusercontent.com/172399/45882400-5c949280-bdae-11e8-8c5d-d061cabd84ea.png)

[2018-09-22 12:59] ryansmith94 commented on #392
Oh nice, the link in the light bulb menu is really helpful, so thanks for sharing that. I don't know if that's a bit too hidden away though.

Right now I've got colleagues turning rules off or just finding quick ways to get around errors/warnings rather than understanding the rationale behind the rule and what the recommended solution is to get rid of the errors/warnings. So my motivation for crea

[2018-09-25 07:19] Baziliq commented on #386
@egamma please see reply below

nothing special with the document, it's a very small document few about 1200 lines of code

[2018-09-25 20:19] kbd commented on #388
Had this problem as well, it doesn't handle paths correctly. I just set up my own tasks manually instead of using the $tslint5 problemMatcher:
[code]

[2018-09-26 09:52] jwhitmarsh opened #393 "linterOptions.exclude not working"
- tslint 5.11.0:
- typescript 3.0.3:

Steps to Reproduce:

tslint config:
[code]

Warnings shown for files in the excluded directory:
![screen shot 2018-09-26 at 10 48 44](https://user-images.githubusercontent.com/8026009/46072268-d4313b80-c179-11e8-820b-41848fd22e88.png)

Have I configured this incorrectly? Running the tslint cli does not return the unwanted warnings, so I don't think it's a conf

[2018-09-26 10:03] egamma commented on #393
linterOptions.exclude is supported. Your snippet looks OK to me, but it lacks the full tslint.json context.

Here is an example where it seems to work https://github.com/Dart-Code/Dart-Code/blob/65a2b89e8dce364bfe352914ad001d4fe478084f/tslint.json#L6-L9

[2018-09-26 10:52] jwhitmarsh commented on #393
Apologies - I realised i'm running vscode-tslint _and_ vscode-tslint-vue which is the extention causing the problem. Thanks for your quick response and sorry for wasting your time :(

[2018-09-26 10:52] #393 closed

[2018-10-01 14:07] aarmora opened #394 "Initializing optional parameters formats to have no whitespace"
- tslint Version: 5.9.1
- typescript Version: 2.7.2
[code]

Steps to Reproduce:

1. Use tslint rule `"whitespace": true`
2. Create class with optional parameters initialized as shown above

Formatting will format as shown above. Tslint will fail all of the fields with `field?= ` as missing whitespace.

Am I doing something wrong here? Do I have a setting wrong?

[2018-10-01 14:30] egamma commented on #394
@aarmora really glad you like the extension.

What I´m saying is that tslint decides when a rule is violated. If you think the whitespace rule should not be violated in this case, then it is an issue with the tslint implementation of this rule.

If you want me to try something out, I´m happy to do this, but then please provide the full setup and include the tslint.json file and the full .ts file.

[2018-10-01 20:38] aleclarson opened #395 "use fixer, but silence error squiggles"
Is there a way to enable a fixable rule, but disable the UI squiggles?

[2018-10-02 05:36] jpike88 opened #396 "Class name must be in pascal case (class-name) doesn't have auto-fix"
- tslint Version:5.11.0
- typescript Version:3.1.1

Steps to Reproduce:

1. Trigger the above warning
2. No auto fix rule is suggested

[2018-10-02 07:01] egamma commented on #396
The pascal case rule has no fixer, pls see https://palantir.github.io/tslint/rules/. Please file a feature request or even better provide a PR with a fixer to tslint.

[2018-10-02 07:01] #396 closed

[2018-10-02 07:28] egamma commented on #395
VS Code does not support diagnostics without squiggles. Why do you want to disable the squiggles? Have you tried to validate on save only and not as you type?

[2018-10-02 11:45] aleclarson commented on #395
Sorry, I should have RTFM. `"tslint.run": "onSave"` fixes my issue. Thanks!

[2018-10-02 11:45] #395 closed

[2018-10-08 14:59] axin opened #397 "Support vue single file components"
Please consider adding support for vue single file components (https://vuejs.org/v2/guide/single-file-components.html). It is done in this extenstion: https://github.com/prograhammer/vscode-tslint-vue, but it is not updated for a long time.

[2018-10-09 11:56] egamma opened #398 "Avoid that the rule name is shown twice in the error message"
From https://github.com/Microsoft/vscode/issues/49215#issuecomment-425391996

[2018-10-09 22:56] edithMadisson opened #400 "Extension Host is now responsive."
- Extension Name: tslint
- Extension Version: 1.0.39
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-10 06:20] egamma commented on #400
please see https://github.com/Microsoft/vscode/issues/60318

[2018-10-10 06:20] #400 closed

[2018-10-10 08:39] egamma commented on #397
@axin I agree that lint support would be great, but this should really come from a tslint extension and not be done at the level of vscode-tslint, otherwise the vue-linting will only be available in VS Code. Therefore please file the issue against tslint, when it doesn´t exist already.

[2018-10-10 08:39] #397 closed

[2018-10-10 17:29] heneryville commented on #362
Any thoughts on how this should look in an implementation? One option would be to use an object that allows for an exclude flag:

[code]

[2018-10-10 23:13] ecraig12345 commented on #362
That could work, or you could use a prefix like `!` or `-` for elements in the array to indicate negations: `"tslint.autoFixOnSave": ["!no-focused-tests"]`

Also, the docs should be clarified to indicate whether the setting means the plugin should:
1. Fix all auto-fixable rules included in the tslint config, *plus* the ones listed here
2. Fix *only* the rules listed here

(and that gets more compl

[2018-10-11 00:05] xsrvmy commented on #362
I believe the old  behaviour is to fix only rules that are listed. However, this is different if excludes are used instead of includes.

Also a potential conflict: If both exclude are include are used, is the behaviour:
- Include only?
- Everything that is not excluded?
- Autofix off (with error message)?

[2018-10-11 03:51] heneryville commented on #362
I definitely doesn't make sense to have both includes and excludes, so it should be only possible to specify one or the other, or if both are defined, it should error.

I wish we could think of an elegant way to make it possible to specify only includes, or exclude, but nothing like that is occurring to me.

It best I've got is either the object proposal I made above, or another configuration opti

[2018-10-11 10:15] egamma commented on #362
The first principle is that this change cannot break existing configurations.
[code]

[2018-10-11 15:31] ecraig12345 commented on #362
@heneryville I don't see any reason why specifying includes and excludes needs to be mutually exclusive, assuming you're correct that currently it uses the tslint config *plus* any options in the array. For example, the following would fix all rules in the tslint config *except* `semicolon`, and fix `some-rule` as well.

`"tslint.autoFixOnSave": ["some-rule", "!semicolon"]`

[2018-10-11 19:17] heneryville commented on #362
@ecraig12345 I've got two reservations about this proposal:

First, my understanding is that would lead to a deviation from current behavior. Currently it will fix everything in the white-list AND in tsconfig. If we used the semantics you're suggesting that would mean anything in the white-list would OR tsconfig. Upgraders would begin to see more changes being applied than before.

Second, I can i

[2018-10-12 07:17] oNexiaoyao commented on #398
the rule name is not shown in the error message now when I write code in VSCode

[2018-10-12 07:43] egamma commented on #398
It is also not shown in the hover. Considering to change the fix so that vscode-tslint does not set the diagnostic.code  and includes the rule name in the message.

@sandy081 what do you think? Do you plan to show the code in the inline error message and the hover? The tslint rule-names are not strictly an error code, but I liked the aligned rendering in the Problems view.

[2018-10-12 07:49] oNexiaoyao commented on #398
Thanks, I find the tslint rule-names shown in the Problems view. however, It may be not suitable for me to get the tips in the Problems view. Show it in the hover can be better

[2018-10-12 07:59] sandy081 commented on #398
I would expect the code to be displayed also in inline error message and hover. It was discussed already but forgot to track it in an issue - https://github.com/Microsoft/vscode/issues/60749

[2018-10-12 15:06] snraets opened #401 "'Cannot read property 'findConfigurationPath' of undefined'"
- tslint Version: 5.11.0
- typescript Version: 2.9.2

Steps to Reproduce:

1. tslint.json is in the root directory
2. I am working on a project that resides on a windows shared drive (I believe this is the problem)

The output that I receive "[Info  - 12:39:02 PM] Linter is running."

[2018-10-12 19:44] snraets commented on #401
It's working now.  Not sure what I did.  Thanks

[2018-10-17 14:00] egamma commented on #398
@fzaninotto you do not see the rule name in the problems view anymore? I assume then you are not using the latest version of VS Code, that is, 1.28.2?

A simple fix is to only enable this version of the extension when VS Code is at version level 1.28.

[2018-10-17 14:45] fzaninotto commented on #398
I'm on 1.28.1, and VSCode doesn't propose any upgrade.

[2018-10-18 12:00] egamma commented on #398
The change to show the diagnostic code is in 1.28.
Can you confirm that the rule name doesn´t appear in the problems view? Can you please add a screenshot of the problems view with tslint diagnostic.

[2018-10-18 12:53] fzaninotto commented on #398
VSCode has now upgraded to 1.28.2. I see the name in the problems window:

![image](https://user-images.githubusercontent.com/99944/47155564-529a7c80-d2e5-11e8-8e5a-a65b8b8931a9.png)

But I'd never think about clicking the icon if you hadn't told me. I'd prefer the rule name to appear in the alert.

![image](https://user-images.githubusercontent.com/99944/47155661-7eb5fd80-d2e5-11e8-8f5c-350401c5a

[2018-10-18 14:38] egamma commented on #398
This is what I meant by the Problems view. Also the insider build includes the rule name in the hover and the error message in the editor.

![image](https://user-images.githubusercontent.com/172399/47162389-23d7d280-d2f4-11e8-895f-59e461918864.png)

[2018-10-18 14:38] #398 closed

[2018-10-18 17:49] Christilut opened #402 "autoFixOnSave does not work with saveAll command"
- tslint Version: 5.11.0
- typescript Version: 3.0.3
- vscode: 1.28.2

This is the same issue as #340 but it is happening with the above versions.

Steps to Reproduce:

1. open 2 files and edit them, press the Save All button
2. autofix only executed on current file

[code]

tslint config:
[code]

[2018-10-19 15:06] briansg commented on #401
Hi @egamma I'm experiencing the same issue here:

**tslint** version under ./node_modules/.bin is **3.15.1** and the **TSLint vscode plugin** version is **1.0.40**.

Any advice will be appreciated.

Thanks!

[2018-10-20 11:51] peterremote1980 opened #403 "[tslint] ' should be " (quotemark) <--- this happen in some vscode"
[tslint] ' should be " (quotemark)  <--- this happen in some vscode, but not all. In my mac which is ok.

- tslint Version: 1.28.2
- typescript Version: how can i know?

Steps to Reproduce:

just open my project

![untitled](https://user-images.githubusercontent.com/36571333/47255294-570b9480-d4a1-11e8-82c6-2ba374ec1d01.png)

[2018-10-22 07:11] egamma commented on #403
@peterremote1980 how can I open your project so that I can reproduce this?

[2018-10-22 07:37] egamma commented on #401
@briansg can you reproduce this when you upgrade to a new version of tslint?

[2018-10-24 15:11] miltonbecker opened #404 "The 'no-boolean-literal-compare' rule requires type information"
- tslint Version: 5.11
- typescript Version: 1.28.2

Steps to Reproduce:

1. Install the mentioned tslint version and also tslint-config-airbnb (latest version, as of now it is 5.7.0)
2. On tslint.json, add `"extends": ["tslint-config-airbnb"]`
3. Open a .ts or .tsx file on vscode
4. Check the output for tslint, it will say "Warning: The 'no-boolean-literal-compare' rule requires type information.

[2018-10-24 15:17] peterremote1980 commented on #403
Attachment is the error screen and the error project. Actually i just used latest yo@microsoft/sharepoint to create a empty SPO webpart project. Thanks for helping.
![1](https://user-images.githubusercontent.com/36571333/47441464-c73c5200-d7e2-11e8-85d6-51190daeaaad.png)
[Test.zip](https://github.com/Microsoft/vscode-tslint/files/2511112/Test.zip)

my vscode settings.json:
`
{
    "workbench.iconT

[2018-10-24 19:01] MattMorgis opened #405 "Prettier Parsing Error While Typing"
- tslint Version: `5.11.0`
- typescript Version: `3.1.3`

I wanted to preface this by saying I am unsure if the bug is happening here in this package or in [tslint-plugin-prettier](https://github.com/ikatyang/tslint-plugin-prettier). I filed this as [#271](https://github.com/ikatyang/tslint-plugin-prettier/issues/271) there as well.

# Steps to Reproduce
1. Download this [sample project](https://g

[2018-10-25 07:35] egamma commented on #405
This error happens in a tslint-rule contributed by prettier:

SyntaxError: Expression expected. (3:28)

This issue needs to be addressed by this rule. I´m therefore closing this issue in this repository.

[2018-10-25 07:35] #405 closed

[2018-10-25 07:54] egamma commented on #403
I can reproduce the error shown on the screen but this is not a tslint error, it from TypeScript

![image](https://user-images.githubusercontent.com/172399/47484255-90465a80-d83b-11e8-9934-c695eb351b43.png)

Also in your tslint.json I don´t see that you enable the rule for quotes.

When this problem happens the next time can you check whether you get the same error when you trun tslint from the co

[2018-10-25 07:57] egamma commented on #404
Timely request ;-)

We are working on a new implementation of the extension that supports rules that require type information (this is more involved then adding an option to pass the parameter).

We have just published a first this extension, please give it a try https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin

[2018-10-25 08:04] #404 closed

[2018-10-25 09:28] miltonbecker commented on #404
Oh, nice to hear it! :)

But, I've tried it and couldn't get it to work.
I did a `yarn add -D typescript-tslint-plugin` and added it to the plugins section in tsconfig.json.

Am I missing something?

[2018-10-25 14:50] peterremote1980 commented on #403
sorry i messed you up by capturing wrong image. This problem really exist. I fixed it by copy the tslint.json to the root folder. My project is old, at the time i create it, the tslint.json was in config folder. I believe microsoft has changed tslint.json to root folder, thanks

[2018-10-25 14:50] #403 closed

[2018-10-25 15:14] egamma commented on #403
Can you reproduce it when you run tslint from the command line?

[2018-10-25 15:19] egamma commented on #404
You just need to install the extension it will come with the typescript-tslint-plugin.
You need to have tslint and typescript installed as before.

Anyways, if it doesn´t work then continue the discussion in the other repository.

[2018-11-01 20:46] ashfurrow commented on #313
Hi there! Just came across this because I ran across the same problem. I understand not wanting to transform the rules, but using `ts-node` as @ds300 describes is a part of my workflow, too. It would be really nice to have the lint violations I get from running `yarn lint` (using `ts-node`) to match the violations I get with the plugin, which currently do not match.

@egamma Your point about the a

[2018-11-02 15:03] ashfurrow commented on #313
@egamma thanks for the clarification – I'll take a look at the new extension. Exciting stuff!

[2018-11-07 14:50] Moeriki commented on #362
A mutual exclusive list is necessary for backwards-compatibility.

I do like the `!` negation as it is quite a common pattern. It also allows the current config schema to remain a simple array.

Auto-fix as per config. (as-is)

[code]

Auto-fix only `some-rule`. (as-is)

[code]

Auto-fix as per config, except `some-rule`. (new)

[code]

Show a configuration error clearly explaining the issue. I th

[2018-11-07 15:28] egamma commented on #362
// CC @mjbvz

Just a heads-up we are migrating the implementation of tslint to use a TypeScript server plugin. A version of this extension is now available https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin. This means that we do not intend to add new features to this extension.

One limitation of the TS language server plugin extension is that it doesn´t

[2018-11-12 16:31] zedryas opened #407 "Rule space-before-function-paren not working"
- tslint Version: ^5.11
- typescript Version: ^3.1

Given a  tslint.json with
[code]

or any configuration of the `space-before-function-paren` rule (i've tried all of them), the rule isn't respected and spaces are always disallowed for any functions.

[2018-11-15 14:02] JamesMessinger opened #408 "Some TSLint errors aren't shown in VSCode"
- **tslint Version:** 5.11.0
- **typescript Version:** 3.1.6

# Steps to Reproduce:
Here is a sample repo with a minimalistic reproduction of the bug: https://github.com/JamesMessinger/tslint-vscode-bug-demo

In the above repo, there are only two TSLint rules enabled:

[code]

And a single TypeScript code file that contains violations of each of these rules:

[code]

When running TSLint from the c

[2018-11-15 14:08] JamesMessinger commented on #408
I've found the same problem with many other TSLint rules as well, where they're not shown in VSCode.  But I'm keeping things simple here by just demonstrating one rule that's not working (`no-void-expression`)

[2018-11-22 02:28] Hanruis opened #409 "Support config using tslint.js"
In some cases, old project have a eslint configuration. we want to transform some eslint rules to tslint.
And there is a library do so  https://github.com/teppeis/tslint-import-eslint-config

but vscode-tslint seems not support confg by tslint.js file

[2018-11-23 23:34] aleksey-sh opened #410 "Autofix option is not available and/or not doing anything"
Hi! I am not exactly sure whether this is a problem or not or whether I maybe be just missing something. So any help or tips will be appreciated.

Problem is that I do not seem to have auto fix option available when I click the light bulb over the error line and choosing option to "TSLint: Fix all auto-fixable options" from Ctrl+Shift+P does not do anything. I do get "Disable rule" option however.

[2018-11-26 11:42] egamma commented on #410
It looks like the indent rule is failing. Indent should have a fixer, therefore I would have expected that there is a fix.

Please provide a minimal test case (tslint.json, sample.ts file) that allows to reproduce the issue.

[2018-11-26 13:13] egamma commented on #409
@Hanruis do you have a pointer to the documentation that tslint supports configuration through tslint.js? I could not find it described in this doc https://palantir.github.io/tslint/usage/configuration/

[2018-11-27 09:18] egamma commented on #409
@mjbvz something to consider for the tslint-plugin.

[2018-11-27 09:51] egamma commented on #408
VS Code tslint does not support rules that require type information [pls see](https://github.com/Microsoft/vscode-tslint/blob/master/tslint/README.md#how-can-i-use-tslint-rules-that-require-type-information). You get a warning for this in the output channel (that can easily be overlooked).

To overcome this limitation we are currently working on a new implementation that runs tslint as a TS Server

[2018-11-27 09:51] #408 closed

[2018-11-27 12:35] JamesMessinger commented on #408
Thanks @egamma!  I'll try the new extension out

[2018-11-28 18:43] ly-cultureiq commented on #410
just noting that https://palantir.github.io/tslint/rules/indent/ mentions that the indent size parameter needs to be specified for auto fixing to work

[2018-11-28 21:58] aleksey-sh commented on #410
@ly-cultureiq Bingo! That was it!

[2018-11-28 21:58] #410 closed

[2018-11-29 03:21] mjbvz commented on #409
This issue is tracking support on the plugin side: https://github.com/Microsoft/typescript-tslint-plugin/issues/34

[2018-12-06 19:32] ecraig12345 opened #411 "Extension can't find tslint when using nvm"
- tslint Version: any
- typescript Version: any
- Platform: Mac OS with nvm

#### Steps to Reproduce

1. Install [nvm](https://github.com/creationix/nvm) (haven't checked if the same issue happens with [nvm-windows](https://github.com/coreybutler/nvm-windows))
2. Install any Node version using nvm: for example `nvm install 10.14.1`
    - `which node` shows (e.g.) `/Users/elizabeth/.nvm/versions/no

[2018-12-11 02:33] Meligy commented on #411
I have the same issue as well, although nvm for me just uses system, installed by homebrew on macOS.

Running the following commands in VSCode terminal:

[code]

The same problem was there with node 10 and earlier versions of NPM 6.x too.

I wish the extension could have a bundled version of tslint to use when it's not fouind. That could solve this problem once and for all, as it seems from search

[2018-12-11 02:47] Meligy commented on #411
OK. Also I noticed that the project I tried it on did have TypeScript installed locally, but not tslint. Installing tslint locally fixed it for this case, which makes sense. Maybe when TypeScript is installed locally, the extension doesn't see the global tslint.

I still tried opening a random file in a folder that didn't have either of them installed, and that gave the same error. It still didn't

[2018-12-11 13:01] EnKrypt opened #412 "Unexpected 'Class name must be in pascal case'"
- tslint Version: 5.11.0
- typescript Version: 3.1.1

![](https://i.imgur.com/gii1u6a.png)

I'm getting this error strangely on identifiers that are not class names.

This is happening randomly across my Angular 7 project for no apparent reason. Affects any kind of const defined variable, even if they are typed.

[2018-12-12 08:21] vahidce opened #413 "Failed to load the TSLint library for the document in Visual Studio Code"
- tslint Version: 5.11.0
- typescript Version: 3.2.2

I have installed the LATEST versions of Visual Studio Code, Node.js and Typescript on my Windows 10. Unfortunately, I am getting the following message.

`Failed to load the TSLint library for the document...
`
I tried installing the TSLint once again.

`npm install -g tslint
`
And got the following message:

[code]

Restarting the VSC doesn't h

[2018-12-14 04:37] muyu66 opened #414 "Fix all auto-fixable problems not working"
- tslint Version: 5.11.0
- typescript Version: 2.9.2, 3.2.2
- vscode Version:  1.30.0

Steps to Reproduce:

1. input command "Fix all auto-fixable problems", nothing happened.
2. Tslint show Output, no exceptions are displayed

Tip:
VSCode is 1.29.2, tslint is normal.

[2018-12-14 08:36] joscarras commented on #414
Same here.

I realize it stopped working last night.

TSLint Version: 1.0.41

VSCode:
Version: 1.30.0
Commit: c6e592b2b5770e40a98cb9c2715a8ef89aec3d74
Date: 2018-12-11T22:21:33.585Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Linux x64 4.9.0-8-amd64

[2018-12-14 10:15] Rumpel78 commented on #414
No auto fixing with TSLint Version 1.0.41
Works with TSLint Version 1.0.40

[2018-12-14 12:09] NicholaAlkhouri commented on #414
Same for me, the command itself is not working,
however if you click on the bulb next to the error, in the problems tab, then choose "Fix all: trailing whitespace" for example it works

[2018-12-14 18:09] VictorQueiroz commented on #414
Same here, I can also reproduce what @NicholaAlkhouri mentioned. TSLint extension version is 1.0.41.

[2018-12-14 21:01] egamma commented on #414
@Rumpel78 I cannot reproduce this, auto fix on save works for be in both 1.0.40 and 1.0.41.

My test-case:
- git clone vscode-tslint
- open the folder https://github.com/Microsoft/vscode-tslint/tree/master/tslint-tests
- open .vscode/.settings.json and enable the setting tslint.autoFixOnSave, save the file
- open the file `tests/overlapping-fixes.ts`
- add a white space to the file
- save the file

[2018-12-14 21:02] egamma commented on #412
This looks like an issue with this particular rule, please file the issue against the tslint repository.

[2018-12-14 21:02] #412 closed

[2018-12-16 10:30] evgsil commented on #414
Have the same situation: command "TSLint: Fix all auto-fixable problems" doesn't work, unless  "tslint.autoFixOnSave" is true

[2018-12-17 01:59] jedster1111 commented on #414
I think it's to do with this commit: 5c65808 where the default value for the setting `tslint.autoFixOnSave` was changed.

If I add `"tslint.autoFixOnSave": false` to my user settings, fix all auto-fixable problems works again for me.

I don't fully know what the changes in 5c65808 do though.

[2018-12-17 02:50] VictorQueiroz commented on #414
Confirmed, it works after adding `"tslint.autoFixOnSave": false` to user settings. Thank you!

[2018-12-17 02:56] #414 closed

[2018-12-17 11:11] bpasero opened #415 "Panel shows automatically on startup on error"
The pattern of opening a panel on error is not encouraged by VSCode. I noticed this: https://github.com/Microsoft/vscode-tslint/blob/master/tslint/extension.ts#L176

I suggest to use a notification instead that is easier for the user to deal with. A panel is not easy to dismiss, takes a lot of vertical space and destroys my current workbench layout.

[2018-12-17 12:49] egamma commented on #415
@bpasero makes a lot of sense. However, this extension is about to be deprecated in favor of https://github.com/Microsoft/vscode-typescript-tslint-plugin.

[2018-12-17 19:31] AGrzes opened #416 "New default for autoFixOnSave broke "Fix-all auto fixable problems""
I noticed that "Fix-all auto fixable problems" stopped working for me today.
After some investigation I found that:
* `tslintServer.ts` uses `autoFixOnSave` setting to filter fixes
* The default for `autoFixOnSave` was changed from `false` to `['RuleName']` 5c658087476195c8bbbd50cd649a79f3662b5923
* I assume that the new default was released with latest `1.41` version
* While previously default wa

[2018-12-17 23:47] OleksyKor commented on #412
I had the same issue. Solved by `rm -rf node_modules` and reinstall everything with npm instead of yarn

[2018-12-18 08:30] egamma commented on #416
@AGrzes thanks for tracking this down. I've seen several complaints on this https://github.com/Microsoft/vscode-tslint/issues/414. I'll role back the change and make a new version available.

[2018-12-18 08:40] egamma commented on #416
Published new version 1.0.42

[2018-12-18 08:40] #416 closed

[2018-12-18 08:41] egamma commented on #414
This is fixed in 1.0.42.

[2018-12-18 11:03] mcamou opened #417 "Please do not deprecate"
The TypeScript TSLint Plugin is missing several features that vscode-tslint has. Specifically, [fix on save](https://github.com/Microsoft/vscode-typescript-tslint-plugin/issues/2), plus I can't get it to work on our project (we have a single directory with different TS projects at different levels in the tree, and I usually keep the whole project open in the workspace). vscode-tslint is much more

[2018-12-19 02:48] muyu66 commented on #414
already fixed, it's good

[2018-12-25 09:32] carpben commented on #240
I agree. There are some rules, I want to be notified about in the command line, or I'd like tslint:fix to handle. Such as extra spaces at the end of line, or indentation issues. But I don't want to be notified about every extra space while I actually code. It would be nice if I could disable a tslint rule just for the editor.

[2018-12-25 17:08] egamma commented on #240
@jhuiting having separate config files for different purposes is right way to do this. In particular since config files can extend each other and you do not need to duplicate settings.

@carpben I can see that the squiggles get in the way when your violating a white space rule. One approach is to configure tslint to run on save only and not as you type.

Anyway since this implementation of tslint

[2019-01-03 12:18] Yanpas opened #418 "Tslint is enabled in files with mjs extension"
- tslint Version: 1.0.42
- typescript Version: 3.2

For some reason tslint is enabled if I open fil with name ending with .mjs despite mjs is javascript code.

[2019-01-13 17:16] chriskuech opened #419 "`no-unsafe-any` is not flagged"
- tslint Version: 5.12.1
- typescript Version: 3.2.2

Steps to Reproduce:

1. Enable `no-unsafe-any` and `no-any` in your TSLint rules
2. Put the following code in a .ts file
[code]
3. Run `tslint --config ./tslint.json --project .`
4. Properly configure VS Code to show linting errors

Observed:

`tslint` command will report `Unsafe use of expression of type 'any'.` while VS Code will not show lin

[2019-01-14 09:13] egamma commented on #419
duplicate, pls see
https://github.com/Microsoft/vscode-tslint/issues/408#issuecomment-441995969

[2019-01-14 09:13] #419 closed

[2019-01-15 08:07] enessoylu opened #420 "Different configurations for different file extensions"
I have different rule set for test files and code files. For example, I am forbidding the magic constants for codes but not for the test files. Also I have different naming conventions among the TSX files and TS files. So it would be great to have an option that maps glob patterns to configuration files. If there is no match with that patters the default config file wich is set with 'tslint.config

[2019-01-15 09:06] egamma commented on #420
@enessoylu I think this functionality should be provided at the level of tslint and not at the level of vscode-tslint.

[2019-01-15 09:49] enessoylu commented on #420
@egamma TSLint has the option for input files. I can pass different configurations for different files. But in VSCode I can only use one configuration for the entire workspace. That is something we need to change IMO.

[2019-01-15 09:53] egamma commented on #420
@enessoylu can you point me to the option for input files you refer to above?

[2019-01-15 12:41] enessoylu commented on #420
Just by passing the function to TSLint, what I mean is something like:
[code]

[2019-01-15 14:39] egamma commented on #413
@vahidce can you try to install TypeScript globally as well and see whether this helps

`npm install -g tslint typescript`

[2019-01-15 15:11] jwulf commented on #413
That didn't help me (`npm i -g typescript tslint`).

I got it working by doing `npm i typescript tslint`, then using the workspace TypeScript version, rather than the VS Code one.

It's weird, because they are both 3.2.2. But it's reproducible. Switching between Workspace/VS Code TS has tslint working/not working.

<img width="360" alt="screen shot 2019-01-16 at 1 09 12 am" src="https://user-image

[2019-01-17 09:15] DanTup opened #421 "Strange behaviour of "Unnecessarily quoted property" rule/fix"
- tslint Version: ^5.11.0
- typescript Version: 3.2.2

Create a TS file with the following contents:

[code]

You'll get green squiggles on all the names:

<img width="339" alt="screenshot 2019-01-17 at 9 12 20 am" src="https://user-images.githubusercontent.com/1078012/51307587-02dc6600-1a38-11e9-90b3-79330d34acad.png">

<img width="497" alt="screenshot 2019-01-17 at 9 12 38 am" src="https://user-

[2019-01-25 03:25] hello-chenchen opened #422 "is it support with git diff lines or only works on the changed lines"
Hi, for our team, there are many tslint errors highlight on a typescript file.
but these errors highlight was written by other team. we don't want to change other team's source code.
So, i want to know is it support with git diff lines or the changed lines?
If, not support, can you log a new feature for this requirement.
Thanks~

[2019-01-31 09:29] stilllife00 opened #423 "Failed to load the TSLint library for the document, when tslint is installed globally"
- plugin version: 1.0.42
- tslint Version: tslint -v 5.12.1
- typescript Version: tsc -v Version 3.2.4
Steps to Reproduce:

1. install the plugin
2. try to lint any .ts or .tsx file
3. tslint output: Failed to load the TSLint library for the document XXXXX/file.tsx To use TSLint in this workspace please install tslint using 'npm install tslint' or globally using 'npm install -g tslint'.

[2019-02-01 09:54] stilllife00 commented on #423
I suspect the problem was I had installed a workspace version of tslint but without installing locally (nor globally) some required babel plugins. By installing all locally it worked.
I suggest though to improve the error message in this case like : _local ts-lint found but it misses some plugins._ That would help saving debugging time.

[2019-02-01 09:54] #423 closed

[2019-02-02 19:58] EuphoSomit opened #424 "file-name-casing"
- tslint Version: 5.12.1
- typescript Version: ^3.2.4

Steps to Reproduce:

1. In tslint .json
 add:
"file-name-casing": [true, {
      ".style.ts": "kebab-case",
      ".tsx": "pascal-case",
      ".*": "camel-case"
    }],
2. It's giving error:

Incorrect type. Expected "string".
Value is not accepted. Valid values: "camel-case", "pascal-case", "kebab-case".

Reference: https://palantir.github.i

[2019-02-05 05:54] JacksonKearl opened #425 "Suggestion: "Fix all auto-fixable problems" analogue that uses type information"
- tslint Version: 5.12.1
- typescript Version: 3.3.2

Steps to Reproduce:

1. Have an unused import and "no-unused" tslint rule enabled
2. Trigger "Fix all auto-fixable problems"
3. Due to the type information limitation, the unused will not be deleted.

I currently get around this by adding the following task:
[code]

But as I don't know of a way to define global tasks (is there one?), I need to

[2019-02-05 06:02] JacksonKearl commented on #425
I understand that you don't want the live tslint instance to use type info as that would duplicate a bunch of tsc's background work, but I think having a one-off command for it would be helpful.

[2019-02-05 08:06] egamma commented on #425
@JacksonKearl good news for you, this has been addressed in the new tslint extension please switch to https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin. We will deprecate this extension soon.

[2019-02-05 08:06] #425 closed

[2019-02-08 21:28] RavenHursT opened #426 "Exports added after references added, don't always get picked up"
- tslint Version: 5.12.1
- typescript Version: 3.2.4

Steps to Reproduce:

1. Open a `.ts` file that has destructured imports from a `.js` file.
2. Add a new symbol to the import that's not yet exported in the js file
3. Notice the new symbol is correctly underlined as _not_ exported
4. Go add an export that matches that symbol
5. Go back to the ts file.

Notice, the tslint error is not resolved,

[2019-02-09 13:28] egamma commented on #426
@RavenHursT errors prefixed with `[ts]` are from the TypeScript and not tslint, pls report the issue in the TypeScript repository.

[2019-02-09 13:28] #426 closed

[2019-02-15 19:44] MLefebvreICO opened #429 "Clarify deprecation status of egamma.tslint"
Hi there,

Wondering since `egamma.tslint` is considered `deprecated`, what does this means for us developpers using versions of TypeScript lower then 3.2 ?

Will the extension still be available for some time or will it be burried to the ground at some point ?

We cannot upgrade yet as our codebase is huge and has dependencies on external libraries that would need to be upgraded too.

So, do we n

[2019-02-16 16:27] DanTup opened #431 ""Disable rule for line" and "Disable rule" do the same thing"
<img width="540" alt="screenshot 2019-02-16 at 16 25 19" src="https://user-images.githubusercontent.com/1078012/52902370-9192fd00-3207-11e9-9ce1-437e2f74ad77.png">

For some reason these top two items both do the same thing, resulting in this:

<img width="382" alt="screenshot 2019-02-16 at 16 26 31" src="https://user-images.githubusercontent.com/1078012/52902377-a5d6fa00-3207-11e9-9afe-f41467f799

[2019-02-18 08:10] egamma commented on #429
We will keep the extension around for a while, but we will not add new features, this includes supporting a newer release of tslint e.g. 6.0.

[2019-02-18 08:10] #429 closed

[2019-02-25 10:18] m4ss1m0g commented on #413
For me switching between Workspace/VS Code TS and the back has tslint working.
It create this setting on `settings.json`

`"typescript.tsdk": "node_modules\\typescript\\lib"`

I have
VSCode TS version 3.3.1
Workspace TS version 3.3.333333

[2019-03-07 19:44] nfarina opened #432 "Ignore auto-fixable errors"
- tslint Version: 5.13.1
- typescript Version: 3.3.3333

Hi, this is a feature request!

I'm an Atom+ESLint refugee, and so far VSCode+TSLint has been fantastic. But there is one thing I've been missing.

In the Atom ESLint plugin, there was an option to "ignore all auto-fixable errors". When you're editing code, Problems and squiggly-underlines can really take you out of the flow. And it doesn't

[2019-03-08 15:18] vladsanchez opened #433 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `tslint`
- Extension Version: `1.0.43`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/vladimirsanchez/eg2.tslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-04-20 16:26] acoutts opened #434 "Extension is excruciatingly slow at linting suddenly"
- tslint Version: 5.14.0
- typescript Version: 3.3.3

Steps to Reproduce:
1. Type out an export name that is not currently imported.
2. After 20-45 seconds, it will finally find the export and allow you to press tab to automatically import the required piece.

This has always been very fast but lately it has suddenly become so slow it's almost unbearable. I've sat waiting up to 45 seconds for it t

[2019-04-21 10:10] egamma commented on #434
@acoutts can you confirm that you are using the now deprecated vscode-tslint extension and not the new https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin extension? You can verify this by inspecting the installed extensions using the extensions viewlet.

[2019-04-23 12:11] acoutts commented on #434
Hey @egamma thanks for checking - I have confirmed with certainty that I am using the new extension and not the deprecated one.
![Screenshot from 2019-04-23 08-10-51](https://user-images.githubusercontent.com/9597207/56579912-57dfc900-659f-11e9-87be-dabb3162ee6d.png)

[2019-04-23 12:13] egamma commented on #434
@acoutts this is the repository of the deprecated extension, moving to the new one.

[2019-04-23 12:13] acoutts commented on #434
Ah thank you.

[2019-05-07 09:44] siddhantsoni opened #435 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `tslint`
- Extension Version: `1.0.43`
- OS Version: `Darwin x64 17.4.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/soni.siddhant/eg2.tslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-05-07 09:48] siddhantsoni commented on #435
[eg2.tslint-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-tslint/files/3151920/eg2.tslint-unresponsive.cpuprofile.txt)
PFA the log file requested.

[2019-05-18 22:40] douglasg14b opened #436 "Autofix does not fix superfluous formatting"
- tslint Version: 1.0.0 (Extension)
- typescript Version: 3.0.0

The "fix all" option doesn't seem to fix many superfluous formatting issues. Such as:

* `missing whitespace` on if statements
* `trailing whitespace` on if statements
* `" should be '`, `comment must start with space`
* `missing semicolon`
* `expected onespace after colon in parameter`

Is this expected behavior? These seem like the

[2019-05-20 07:06] egamma commented on #436
@douglasg14b from the version number of the extension I conclude that this is for the new tslint extension and not the deprecated one you have reported the issue against.

Moving to the other repo.

[2019-05-23 16:30] timc1 commented on #418
Hey Yan, have you solved this issue yet? 🧐I'm running into a similar issue, thanks! :)

[2019-05-23 16:32] Yanpas commented on #418
No, didn't find a solution, but haven't tried newer vscode and extension

[2019-05-23 16:34] timc1 commented on #418
Ahh, ok! I'll update this when I find a solution on my end!

[2019-05-24 06:59] egamma commented on #418
@Yanpas this issue is filed against the wrong extension. I'll move it.

[2019-06-19 10:07] FatalMerlin opened #437 "1.2.0 - Cannot read tslint configuration - 'linterConfiguration.rules.delete is not a function'"
- tslint Version: 5.17.0
- typescript Version: 3.5.1

Steps to Reproduce:

1. Create new Microsoft SPFx 2016 onPrem solution (`yo @microsoft/sharepoint`)
2. Remove invalid extends configuration from `tslint.json` (Line 2)
3. Open `.ts`-file
4. Check VSCode Problems Output:

![image](https://user-images.githubusercontent.com/14237330/59756832-c8971f00-928a-11e9-9e03-5c49f9b23176.png)

[2019-06-19 11:29] FatalMerlin commented on #437
Nvm, I just realized that Google mislead me to the deprecated repo, sorry

[2019-06-19 11:29] #437 closed

[2019-06-21 17:23] mjbvz commented on #409
Closing this as upstream. You should be able to set a config file explicitly using the plugin's `tslint.configFile` setting. I just tried this for a basic `tsconfig.js` and it works

[2019-06-21 17:23] #409 closed

[2019-07-13 20:32] keverw commented on #413
I'm getting this issue too lately. Mac OS 10.14.5 with VSCode Version 1.36.1 (1.36.1). Seemed to start happening recently.

[code]
[code]

[code]

[2019-07-31 18:33] beporter commented on #437
But...where's the issue in the new repo? What's the fix? 😭

[2019-08-01 16:50] IGx89 commented on #437
Running into this error myself as well...

[2019-08-01 16:55] IGx89 commented on #437
Fix for me was clicking the typescript version box on the bottom right of the toolbar and changing it from "Use VS Code's Version (3.5.2)" to "Use Workspace Version (2.9.2)"

[2019-08-01 16:57] beporter commented on #437
In my case I actually tried that already. And tried completely restarting VSCode itself-- no change from either.

[2019-08-22 14:46] Plokkke opened #441 "Linter is disabled if folder start by number"
- tslint Version: 5.18.0
- typescript Version: 3.5.3

TSLint is completely quiet on file stored in directory starting with number.
I have such tree :
- sources
  - 60m
    - index.ts
  - server.ts

Error in server.ts are properly highlighted whereas those in index.ts are not showed.

[2019-08-29 10:59] amin125 commented on #390
up

[2019-09-23 21:27] guyellis commented on #413
I'm not even using TSLint and I'm getting this error.

[2019-09-24 08:48] egamma commented on #413
This extension is deprecated, pls see https://marketplace.visualstudio.com/items?itemName=eg2.tslint for more explanation.

[2019-11-10 05:39] rajinder-yadav opened #442 "Scoped variable false shadow linting error"
Issue Type: <b>Bug</b>

Getting a Shadow named error for variables that are not in the same scope, see attached image.

Not sure if the `const tmp` variable (line 46) is getting function hoisted, but would be nice not to see this error as declaration comes after other scoped use of `tmp` variable.

VS Code version: Code - Insiders 1.40.0-insider (515f496d9a7617caf07f38298f610920f60834d6, 2019-11-0

[2019-11-10 15:23] egamma commented on #442
This is an issue from tslint, please report the issue against the tslint repository.

[2019-11-10 15:23] #442 closed

[2020-01-13 15:47] othyn commented on #413
Steps that solved the issue for me:

1. Remove the [depreciated TSLint](https://marketplace.visualstudio.com/items?itemName=eg2.tslint) plugin.
2. Install the [new TSLint plugin](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin).
3. Global install of `tslint` and `typescript` via `yarn global add tslint typescript`.
4. Restart VSCode.
5. Issue solved fo

[2020-02-12 11:05] marcelh-gh commented on #337
since tslint is being deprecated and with the latest vscode update (1.42.0) there is now a quite viable option using eslint with the respective typescript plugin, I am closing this.

[2020-02-12 11:05] #337 closed

[2020-02-26 10:27] pwaweru opened #443 "Typescript and Javascript Language Features extension"
Issue Type: <b>Bug</b>

Seeing a spinner with 'Initializing JS/TS language features'. Spinner is not resoving and the following error appears:

`The TypeScript language service died 5 times right after it got started. The service will not be restarted.`

Extension version: 1.0.44
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x6

[2020-02-26 11:46] egamma commented on #443
This message is triggered by the TypeScript extension. Please report the issue with as much context as possible for how to reproduce against this extension.

[2020-02-26 11:46] #443 closed

[2020-06-24 12:58] bebeo05 opened #445 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `tslint`
- Extension Version: `1.0.44`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.46.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-06-25 05:26] #445 closed

[2020-06-26 19:54] RedDawgg20 opened #446 "I don't see any error :"
I don't see any error :

[Trace - 15:32:41] Sending request 'initialize - (0)'.
Params: {
    "processId": 15272,
    "rootPath": "d:\\Projets\\ASF\\GeoRepoWaze\\GeoRepo.Client.JS.TS",
    "rootUri": "file:///d%3A/Projets/ASF/GeoRepoWaze/GeoRepo.Client.JS.TS",
    "capabilities": {
        "workspace": {
            "applyEdit": true,
            "didChangeConfiguration": {
                "dynami

[2020-09-10 10:50] dhananjaykaushik commented on #390
<img width="543" alt="Screen Shot 2020-09-10 at 4 18 45 PM" src="https://user-images.githubusercontent.com/16631541/92719839-63dd4e00-f381-11ea-9466-070765e9e053.png">
Hey @Neutrino-Sunset
You can disable any rule like this.
In settings.json of your vs code

[2020-09-10 10:55] Neutrino-Sunset commented on #390
The whole point of the 'quick fix' popup is to enable the user to resolve the problem in the manner they desire from the popup itself.

[2021-01-04 07:17] naouslk opened #450 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `tslint`
- Extension Version: `1.0.44`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-01-20 16:56] exeptionerror commented on #413
Here Is All Possible Solution added [Not using the local TSLint version found errors in my Angular application running in Visual Studio Code](https://exerror.com/not-using-the-local-tslint-version-found-errors-in-my-angular-application/)

[2021-04-16 04:39] kasaifox opened #451 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `tslint`
- Extension Version: `1.0.46`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-05-04 17:01] lszomoru opened #452 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:46] lszomoru opened #453 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-07-25 21:47] Devilishhh opened #455 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `tslint`
- Extension Version: `1.0.47`
- OS Version: `Windows_NT x64 6.3.9600`
- VS Code version: `1.58.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-08-19 19:00] #455 closed

[2021-09-30 10:02] egamma commented on #435
pls see https://github.com/microsoft/vscode-tslint/blob/main/tslint/README.md#vscode-tslint-deprecated

[2021-09-30 10:02] #435 closed

[2021-09-30 10:03] egamma commented on #433
pls see https://github.com/microsoft/vscode-tslint/blob/main/tslint/README.md#vscode-tslint-deprecated

[2021-09-30 10:03] #433 closed

[2021-09-30 10:04] egamma commented on #422
pls see https://github.com/microsoft/vscode-tslint/blob/main/tslint/README.md#vscode-tslint-deprecated

[2021-09-30 10:04] #422 closed